<script setup>
import axios from 'axios';
import {onMounted, reactive, ref} from "vue";
const users = ref(null);
const form = reactive({
  id:0,
  firstName:'',
  lastName:''
});
const isEdit = ref(false);

const getUsers = (()=>{
  const data = axios.get('http://localhost:3000/employees').then((res)=>{
    users.value = res.data
  })
});
const addUser = (()=>{
try {
  if (form.firstName && form.lastName){
    axios.post('http://localhost:3000/employees',{
      firstName : form.firstName,
      lastName: form.lastName
    })
        .then(()=>{
          alert("Foydalanuvchi qo'shildi!!!")
          getUsers()
        })
        .finally(()=>{
          resetForm()
        })
  }
  else {
    alert('Iltimos maydonlarni tuldiring!!!')
  }
}
catch (e){
  console.log(e)
}
});
const updateUser = ()=> {
  try{
    axios.put('http://localhost:3000/employees/' + form.id,{
      id:form.id,
      firstName: form.firstName,
      lastName: form.lastName
    })
        .then(()=>{
      alert("Foydalanuvchi o'zgartirildi !!!")
    })
        .finally(()=>{
          getUsers()
          isEdit.value = false;
          form.id = 0;
          form.firstName = '';
          form.lastName = '';
        })
  }
  catch (e){
    console.log(e)
  }

};
const deleteUser = (id)=>{
  try {
    if (window.confirm("Haqiqattan ham o'chirmoqchimisiz?")){
      axios.delete('http://localhost:3000/employees/' + id)
          .then(()=>{
            getUsers()
          })
    }
  }
  catch (e){
    console.log(e)
  }
}
const resetForm = () =>{
  form.id = 0;
  form.firstName = '';
  form.lastName = ''
};
const showUser = (data)=>{
  form.id = data.id;
  form.firstName = data.firstName;
  form.lastName = data.lastName;
  isEdit.value = true
}
onMounted( ()=>{
 getUsers();
})
</script>

<template>
<div class="max-w-screen-sm mx-auto my-4 p-4">
  <h1 class="mb-4">Crud Users</h1>
  <div class="space-x-2 mb-5 flex justify-between">

    <div class="space-x-4">
      <input type="text" v-model="form.firstName" placeholder="Enter your firstName" class="border outline-0 px-4 py-2 rounded-lg border-indigo-500/100">
      <input type="text" v-model="form.lastName" placeholder="Enter your lastName" class="border outline-0 px-4 py-2 rounded-lg border-indigo-500/100">
    </div>
    <button type="submit" @click="addUser" v-if="!isEdit" class="bg-indigo-500 text-white py-2 px-5 rounded-lg motion-safe:hover:-translate-x-0.5 motion-safe:transition hover:opacity-75">Qo'shish</button>
    <button type="submit" @click="updateUser" v-else class="bg-orange-600 text-white py-2 px-5 rounded-lg motion-safe:hover:-translate-x-0.5 motion-safe:transition hover:opacity-75">O'zgartirish</button>

  </div>
  <ul>
    <li v-for="(user,index) in users" :key="user.id" class="space-x-2 w-full p-4">

       <div class="flex justify-between">
          <span class="block">{{index+1}}. {{user.firstName}} {{user.lastName}}</span>
         <div class="space-x-2">
           <span  @click="showUser(user)" class="text-blue-800 underline cursor-pointer hover:opacity-75">Edit</span>
           <span  @click="deleteUser(user.id)" class="text-red-900 underline cursor-pointer hover:opacity-75">Delete</span>
         </div>
       </div>


    </li>
  </ul>
</div>
</template>
<style scoped>
</style>
